body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1140px;
  border: 1px solid red;
  margin-left: auto;
  margin-right: auto;
}

.secao {
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;

  &.inicio {
    background-color: red;
    background-image: url("https://t3.gstatic.com/licensed-image?q=tbn:ANd9GcT1g1V8Nalm9FkR2atv7annUXbPvk5g-mWffaNxT_ItIFogl-6mC_lHNifw5Tw9-yiS");
    background-size: cover;
  }
  &.sobre {
    background-color: blue;
  }
  &.maissobre {
    background-color: white;
    background-image: url("https://t3.gstatic.com/licensed-image?q=tbn:ANd9GcT1g1V8Nalm9FkR2atv7annUXbPvk5g-mWffaNxT_ItIFogl-6mC_lHNifw5Tw9-yiS");
    background-size: cover;
  }
}
